torchtext==0.4.0
ujson==1.35
seqeval==0.0.12
six==1.12.0
jieba==0.39
nltk==3.4.5
scipy==1.3.0
torchvision==0.3.0
Pillow==8.2.0
common==0.1.2
constants==0.6.0
graphstate==1.0.6
ipdb==0.12.2
preprocessing==0.1.13
stanfordcorenlp==3.9.1.1
tensorboardX==1.8
utils==0.9.0
